<div class="container">
  <div class="movie-details">
    <% if @movie.poster_image_url.present? %>
      <%= image_tag @movie.poster_image_url, class: "movie-poster" %>
    <% end %>
    
    <div class="movie-info">
      <h1><%= @movie.title %></h1>
      <p class="genre"><%= @movie.genre %></p>
      <p class="description"><%= @movie.description %></p>
      
      <h2>Available Showtimes</h2>
      <div class="showtimes-grid">
        <% @showtimes.each do |showtime| %>
          <%= link_to movie_showtime_path(@movie, showtime), class: "showtime-card" do %>
            <div class="date"><%= showtime.date.strftime("%B %d, %Y") %></div>
            <div class="time"><%= showtime.time.strftime("%I:%M %p") %></div>
            <div class="seats">Available seats: <%= showtime.capacity - showtime.reservations.count %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
