<h1>New Showtime</h1>

<% if @movie %>
  <%= form_for [:admin, @movie, @showtime] do |f| %>
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  
    <%= f.submit "Create Showtime" %>
  <% end %>
<% else %>
  <%= form_for [:admin, @showtime] do |f| %>
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  
    <%= f.submit "Create Showtime" %>
  <% end %>
<% end %>
