<div class="admin-movies-container">
  <header class="page-header">
    <h1 class="main-title">Movie Management</h1>
    <%= link_to new_admin_movie_path, class: 'new-movie-btn' do %>
      <i class="fas fa-plus">Add New Movie</i> 
    <% end %>
  </header>

  <%= turbo_frame_tag "movies" do %>
    <div class="admin-movies-grid">
      <% @movies.each do |movie| %>
        <%= turbo_frame_tag dom_id(movie) do %>
          <div class="movie-card">
            <div class="movie-content">
              <div class="movie-header">
                <h2 class="movie-title">
                  <%= link_to movie.title, admin_movie_path(movie), class: "movie-link" %>
                </h2>
                <span class="movie-genre"><%= movie.genre %></span>
              </div>
              <p class="movie-description"><%= truncate(movie.description, length: 150) %></p>
            </div>

            <div class="action-buttons">
              <%= button_to edit_admin_movie_path(movie), 
                  method: :get,
                  class: 'edit-btn' do %>
                  <i class="fas fa-edit"></i> Edit
              <% end %>
              
              <%= button_to admin_movie_path(movie), 
                  method: :delete, 
                  class: 'delete-btn',
                  form: { 
                    data: { 
                      turbo_confirm: 'Are you sure you want to delete this movie?' 
                    } 
                  } do %>
                  <i class="fas fa-trash"></i> Delete
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
