<div class="movie-details">
  <h1><%= @movie.title %></h1>

  <div class="movie-content">
    <% if @movie.poster_image.attached? %>
      <%= image_tag @movie.poster_image, class: "movie-poster" %>
    <% end %>

    <div class="movie-info">
      <p><strong>Genre:</strong> <%= @movie.genre %></p>
      <p><strong>Description:</strong> <%= @movie.description %></p>
    </div>
  </div>

  <%= link_to 'Edit', edit_admin_movie_path(@movie), class: 'button' %>
  <%= link_to 'Back to Movies', admin_movies_path, class: 'button' %>
</div>
<% if @movie.showtimes.any? %>
  <% @movie.showtimes.each do |showtime| %>
    <div>
      <% if showtime.time.present? %>
        <p><%= showtime.time.strftime("%B %d, %Y %I:%M %p") %></p>

        <% if user_signed_in? %>
          <h3>Reserve Your Seats</h3>
          
          <%= form_with(model: [@movie, showtime, Reservation.new], local: true) do |form| %>
            <div>
              <%= form.label :seats, "Number of Seats" %>
              <%= form.number_field :seats, min: 1, required: true %>
            </div>
            
            <div>
              <%= form.submit "Reserve Seats", class: "btn btn-primary" %>
            </div>
          <% end %>
        <% else %>
          <p>
            Please <%= link_to 'sign in', new_user_session_path %> to reserve seats.
          </p>
        <% end %>

      <% else %>
        <p>Time not set</p>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>No showtimes are currently available. Please check back later.</p>
<% end %>

<h2>Add Showtime</h2>
<%= form_with(model: [@movie, Showtime.new], local: true) do |form| %>
  <div>
    <%= form.label :time, "Showtime" %>
    <%= form.datetime_select :time, include_blank: true %>
  </div>
  <div>
    <%= form.submit "Add Showtime", class: "btn btn-primary" %>
  </div>
<% end %>