<h1>Showtimes for <%= @movie.title %></h1>

<% @showtimes.each do |showtime| %>
  <div>
    <p>Start Time: <%= showtime.start_time %></p>
    <p>End Time: <%= showtime.end_time %></p>
    <%= link_to 'Edit', edit_movie_showtime_path(@movie, showtime) %>
    <%= link_to 'Delete', movie_showtime_path(@movie, showtime), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<% if policy(Showtime).create? %>
  <%= link_to 'New Showtime', new_movie_showtime_path(@movie) %>
<% end %>

<h2>All Movies</h2>
<% @movies.each do |movie| %>
  <h3><%= movie.title %></h3>
  <p><%= movie.description %></p>
  <%= link_to 'View Showtimes', movie_showtimes_path(movie) %>
<% end %>